.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: solid 5px black;
  background-color: #AA96DA;
  font-weight: bold;
  font-size: 50px;
  
  div {
    padding: 20px;
   
  }
}